<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="(isLog())">
      <a mat-list-item [routerLink]="['consumption']">Consumption</a>
      <a mat-list-item [routerLink]="['consumption/appliance-registration']">Appliance Registration</a>
      <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
    </mat-nav-list>
    <mat-nav-list *ngIf="(!isLog())">
      <a mat-list-item [routerLink]="['user/login']">Authentication</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>How Green</span>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
