<nav>
    <a routerLink='/home' routerLinkActive='active' style=" text-decoration: none;">
        <h1 style="font-family: cursive ;color: rgba(87, 134, 87, 0.74); color: linear-gradient(45deg, rgb(120, 219, 126) 0%, rgba(11, 73, 27, 0.35) 49%, rgb(85, 202, 106) 95%); font-size: 35px; font-weight: bold;">HowGreen</h1>
    </a>
    <div class="nav-links">
        <!--<i class="fas fa-times" id='close-times' (click)="hide()"></i>-->
        <ul *ngIf="(isLog())">
            <li><a routerLink='/home' routerLinkActive='active'>ACASA</a></li>
            <li><a routerLink='/consumption' routerLinkActive='active'>CONSUM</a></li>
            <li><a routerLink='/prosumator' routerLinkActive='active'>PROSUMATOR</a></li>
            <li><a routerLink='/media' routerLinkActive='active'>STIRI</a></li>
            <li><a routerLink='/contact' routerLinkActive='active'>CONTACT</a></li>
            <li><a style="cursor: pointer;" (click)="onLogout()" routerLinkActive='active'>DECONECTARE</a></li>
        </ul>

        <ul *ngIf="(!isLog())">
            <li><a routerLink='/home' routerLinkActive='active'>ACASA</a></li>
            <li><a (click)="onAuth()" routerLink='/user/login' routerLinkActive='active'>CONSUM</a></li>
            <li><a (click)="onAuth()" routerLink='/user/login' routerLinkActive='active'>PROSUMATOR</a></li>
            <li><a routerLink='/media' routerLinkActive='active'>STIRI</a></li>
            <li><a routerLink='/contact' routerLinkActive='active'>CONTACT</a></li>
            <li><a routerLink='/user/login' routerLinkActive='active'>CONECTARE</a></li>
        </ul>

    </div>
    <!--<i class="fas fa-bars" id='menu-bars' (click)="show()" ></i>-->
</nav>

<router-outlet></router-outlet>

