<section class="header">
    <div class="text-box">
        <h1>Cont</h1>
        <p>
            Pe aceasta pagina utilizatorii isi pot face un cont nou,
            iar<br> cei care au un cont deja se pot conecta pentru a putea<br>
            beneficia de fiecare serviciu pe care il ofera platforma.
        </p>
    </div>
</section>

<section>
    <h1>sdasds</h1>
    <a routerLink='/user/register' routerLinkActive='active'>Register</a>
    <a routerLink='/user/login' routerLinkActive='active'>Login</a>
    <router-outlet></router-outlet>
</section>


