<section class="header">
    <div class="text-box">
        <h1>Consum</h1>
        <p>
            Aceasta este pagina destinata consumului de
            energie electrica a electrocasnicelor<br> si de 
            genereare a etichetei energetice aferente locuintei
            dumneavoastra.<br>
            De asemenea tot aici ve-ti gasi si rubrica cu sfaturi de
            economisire a energiei electrice,<br> lista cu consumul mediu 
            a electrocasnicelor si sistemul de clasificare<br> a etichetelor
            energetice in functie de indecsii de performanta.
        </p>
    </div>
</section>

<section class="computer">
    <h1>
        Foloseste calculatorul pentru a afla costul estimativ<br>
        a facturii tale de energie electrica
    </h1>
    <p>
        Utilizatorul trebuie sa introduca datele cerute mai jos <br>
        pentru a putea utiliza calculatorul
    </p>
    <div class="computer-box">
        <h1>Calculator</h1>
        <hr style="background-color: white; height: 4px; margin-top: -2%;">
        <input type="text" placeholder="Tip Electrocasnic">
        <input type="text" placeholder="Putere (W)">

        <label for="appt">Timp Functionare (hh:mm/zi)</label>
        <input type="text" style="margin-top: 2%; width: 30%; float: left; margin-left: 20%;" placeholder="HH">
        <input type="text" style="margin-top: 2%; width: 30%; float: left; margin-left: 3%;" placeholder="MM">

        <input type="text" placeholder="Pret Kw">
        <button style="margin-top:2%;" class="hero-btn">Calculeaza</button>
    </div>
    <div class="cost-appliance">
        <h1>Costul pe electrocasnic</h1>
        <table class="total-table">
            <tr>
              <th>Tip Electrocasnic</th>
              <th>Puterea (W)</th> 
              <th>Timp Functionare</th>
              <th>Pret Kw</th>
              <th>Cost Ora</th>
              <th>Cost Zi</th>
              <th>Cost Luna</th>
              <th>Cost An</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
                <td>50</td>
              </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>80</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
              <td>50</td>
            </tr>
          </table>  
          <h1>Costul total</h1>  
          <table class="total-table">
            <tr>
              <th>Numar Electrocasnice</th>
              <th>Cost Ora</th> 
              <th>Cost Zi</th>
              <th>Cost Luna</th>
              <th>Cost An</th>
              <th>Data</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>80</td>
              <td>80</td>
              <td>80</td>
              <td>80</td>
              <td>80</td>
            </tr>
          </table>                   
    </div>
</section>

<section class="list-appliances">
    <h1>
        Vizualizeaza lista electrocasnicelor care au un <br>consum 
        mediu de energie electrica
    </h1>
    <p>
        Mai jos puteti vedea lista celor mai intalnite electrocasnice<br>
        care au un consum mediu de energie electrica
    </p>
    <table class="appliances-table">
        <tr>
          <th>Tip Electrocasnic</th>
          <th>Putere (W)</th>
          <th>Timp Functionare (h/Zi)</th> 
          <th>Consum Mediu (kW/Zi)</th>
        </tr>
        <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Jill</td>
            <td>Smith</td>
            <td>50</td>
            <td>50</td>
          </tr>
    </table>
</section>

<section class="label-classification">
    <h1>
        Ce este o eticheta energetica si cum<br> este clasificata aceasta
    </h1>
    <p>
        Va prezentam si dumneavoastra sistemul nostru de clasificare <br>
        a etichetelor energetice pentru a intelege mai bine modul<br>
        de clasificare a acestora
    </p>
    <br>
    <span>In aceasta imagine avem consumul unei locuinte in kW pe metru patrat anual si indexul de eficienta.</span>
    <img src="./assets/images/energy_label_classification.png">
</section>

<section class="generate-label">
    <h1>    
        Generarea etichetei tale energetice in functie de<br> consumul
        electrocasnicelor obtinut
    </h1>
    <p>
        Pe baza consumului obtinut cu ajutorul calculatorului aici aveti 
        ocazia<br> de a genera si eticheta energetica a locuintei dumneavoastra
    </p>
    <div class="label-box">
      <h1>Generare Eticheta</h1>
      <hr style="background-color: white; height: 4px; margin-top: 3%;">
      <input type="text" placeholder="Consum total (kW/An)">
      <input type="text" placeholder="MP Locuibili">
      <input type="text" placeholder="Tipul Locuintei">
      <button class="hero-btn">Obtine Eticheta</button>
    </div>
    <div class="label-box" style="margin-top: 5%; height: 80vh;">
      <h1>Eticheta Energetica</h1>
      <hr style="background-color: white; height: 4px; margin-top: 3%;">
      <label style="margin-top: 10%;">Clasa Energetica:</label>
      <p>A++</p>
      <label>Index Performanta:</label>
      <p> <= 0.55 </p>
      <label>Consum Anual kW / mpa:</label>
      <p> <= 10 kW / mpa </p>
      <label>Tipul Locuintei:</label>
      <p> Apartament </p>
      <label>Data Emiterii:</label>
      <p> 28/04/2021 </p>
    </div>
</section>

<section class="save-energy">
    <h1>
        Sfaturi de economisire a energiei electrice
    </h1>
    <p>
        Aici aveti posibilitatea de a invata diferite metode
        prin care puteti<br> economisi cat mai multa energie electrica posibil
    </p>
    <div class="save-box">
        <span>
          Ne-am propus sa te ajutam sa iti simplifici viata, apeland la metode sustenabile pentru  economisirea
          energiei electrice, astfel incat facturile tale sa fie vizibil mai mici, iar zambetul mult mai larg.
          Pentru ca orice schimbare trebuie sa porneasca de undeva, iata cateva idei utile cu care sa poti sa incepi.
        </span>
        <img src="./assets/images/consumption_energy-class.jpg" style="padding: 20px;" width="100%">
        <br> <br> <br>
        <h1>Instalează ferestre inteligente</h1>
        <p>Aceasta noua tehnologie folosita la fabricarea ferestrelor impiedica pierderile de caldura din locuinta ta.
           Polimerul de silicon numit polidimetilsiloxan contribuie la sistemul integrat de ventilatie a ferestrelor, 
           reducand factura anuală de energie electrica cu pana la 20%.
        </p>
        <h1>Inchide incalzirea</h1>
        <p>
          Daca ai camere pe care nu le folosesti in locuință, e recomandat sa inchizi usile si sa oprsti caldura.
          Astfel, vei economisi energia electrica care, in mod normal, s-ar consuma pentru mentinerea temperaturii acelei incaperi.
        </p>
        <h1>Alege sa faci dus in loc de baie</h1>
        <p>
          Cu siguranta ai mai auzit ca poti economisi mult mai multă apa si totodata si energie electrica si gaz alegand mai des
          sa faci un dus rapid, in locul unei bai. In medie, pentru o baie folosesti de 4 ori mai multa apa si energie electrica
          , lucru care, cu siguranta este vizibil pe facturile de la sfarsit de luna.
        </p>
        <h1>Foloseste mai des cuptorul cu microunde</h1>
        <p>
          Cu totii stim ca mancarea poate fi reincalzita foarte usor folosind cuptorul electric, insa acest lucru consuma 
          de doua ori mai multa energie electrica fata de cuptorul cu microunde si dureaza de doua ori mai mult (preincalzirea).
          Pentru a putea savura o cina calda, foloseste cuptorul cu microunde.
          Mic sfat: pentru a incalzi mancarea in mod uniform, aseaza deasupra recipientului in care se afla mancarea, o farfurie.
        </p>
        <h1>Foloseste inteligent masina de spalat</h1>
        <p>
          Stiai ca setand masina de spalat la temperatura de 30 grade Celsius, reduci consumul de energie electrica cu 40% fata
          de programele cu temperaturi mai ridicate? In acest mod, reusesti sa-ti micsorezi factura lunara la curentul electric
          si sa pastrezi culorile vii ale hainelor tale pentru mai mult timp.
        </p>
        <h1>Izoleaza-ti locuinta</h1>
        <p>
          Aproximativ 25-30% din căldură se poate pierde prin podea atunci când nu există o izolație corespunzătoare. Folosește
          polistiren extrudat sub parchet sau podea și redu costurile. De asemenea, o locuință care nu e izolată termic, îți poate 
          crește costurile energiei electrice considerabil. Apelează la placarea cu polistiren, care îți va aduce atât o economie
          la factură, cât și un confort termic atât pe perioada verii, cât și pe cea a iernii.
        </p>
        <h1>Investeste inteligent</h1>
        <p>
          O familie formata din 4 membri poate economisi anual 160.000 de litri de apa, fapt care duce la economisirea energiei
          electrice, folosind o metoda simpla si putin costisitoare. Instalează un cap de dus cu debit scazut si valoarea facturilor
          tale va fi vizibil mai mica.
        </p>
        <h1>Incarca-ti telefonul in masina</h1>
        <p>
          Drumul de la lucru, acasa poate dura uneori mai mult decat in mod normal. Foloseste-te de aceasta situatie si incarca-ti
          telefonul in masina. Vei avea cu un dispozitiv mai puțin de incarcat acasa.
        </p>
        <h1>Foloseste becuri economice</h1>
        <p>
          Schimba toate becurile din casa cu becuri LED si economisește la factură. Am facut pentru tine aici 
          un scurt ghid de alegere al acestora. 
        </p>
    </div>
</section>

<section class="energy-class">
    <h1>
        Beneficiile unei clase energetice mai bune
    </h1>
    <p>
        Aici incercam sa scoatem in evidenta avantajele<br> unei clase
        energetice cat mai bune.
    </p>
    <div class="save-box">
      <span style="font-size: 20px;">
        Știați că renovarea clădirilor existente în Europa cu izolația corectă, 
        ar putea economisi de două ori mai mult dioxid de carbon decât emite Franța într-un an?
      </span>
      <img src="./assets/images/bloc.jfif" style="padding: 20px;" width="100%">
      <br> <br>
      <p style="color: black; font-size: 15px;">
        Dacă ar fi să instalăm o izolație eficientă din punct de vedere energetic pentru fiecare clădire 
        existentă în Europa, asta ar contribui la economisirea a 660 de milioane de tone de dioxid de carbon 
        în fiecare an. Acest lucru ar însemna de două ori mai mult decât emite Franța într-un an. (1)De fapt, 
        pentru aceeași sumă de bani, clădirile pot economisi cu 68% mai multe emisii decât următorul sector cel mai 
        rentabil, industria. (2)Dacă izolațiile, cum sunt produsele din vată bazaltică, ar fi utilizate pentru a 
        economisi energie mai degrabă decât pentru a genera mai multă energie regenerabilă, s-ar economisi 22 de 
        miliarde de euro, echivalent cu construirea a 42.000 de noi școli, ceea ce este mult mai important decât 
        multe alte metode de reducere a emisiilor de carbon.<br><br>

        Beneficiile eficienței energetice includ, de asemenea, și casele. Casele care economisesc energie ne permit
        să ne bucurăm de costuri reduse de încălzire/răcire, iar cererea redusă de energie ne poate oferi o calitate 
        mai bună a aerului. Aceste beneficii ne oferă capacitatea de a combate schimbările climatice, fiind totodată 
        mai eficiente din punct de vedere al resurselor.<br><br>

        Îți dorești să locuiești într-o casă care contribuie pozitiv la mediu? Dacă este așa, trebuie să luați în 
        considerare renovarea locuinței dvs. pentru a îmbunătății eficiența energetică. Aceste eforturi ne vor ajuta 
        să ne apropiem de obiectivele noastre climatice, pe măsură ce obțineți mai mult control asupra producției de 
        energie și chiar vă veți bucura de facturi mai ieftine în acest proces.
      </p>
    </div>
</section>