<section class="header">
    <div class="text-box">
        <h1>Contact</h1>
        <p>
            Aceasta este pagina prin intermediul careia utilizatorii pot lua 
            legatura <br>cu unul dintre adminii acestei pagini pentru a raporta o<br> problema
            sau pentru a le adresa diverse intrebari.
        </p>
    </div>
</section>

<section class="data">
    <h1>Date de contact</h1>
    <p>
        Mai jos puteti vedea datele de contact ale adminilor
    </p>
    <div class="row">

        <div class="data-col">
            <h3>Owner</h3>
            <p>
                Locatie: Timisoara | RO 
            </p>
            <p>
                Email: owner.howgreen@gmail.com 
            </p>
        </div>

        <div class="data-col">
            <h3>Moderator</h3>
            <p>
                Locatie: Bucuresti | RO 
            </p>
            <p>
                Email: moderator.howgreen@gmail.com 
            </p>
        </div>

        <div class="data-col">
            <h3>Staff</h3>
            <p>
                Locatie: Arad | RO 
            </p>
            <p>
                Email: staff.howgreen@gmail.com 
            </p>
        </div>

    </div>
</section>

<section class="message" style="margin-top: 50px;">
    <h1>Trimite mesaj</h1>
    <p>
        Mai jos puteti trimite un mesaj catre un membru al echipei
    </p>

    <form [formGroup]="contactService.contactModel" autocomplete="off" (submit)="onSubmit()">
        <div class="container" style="margin-left: 4%;">
            <div class="row">
                <div class="column">
                    <img src="./assets/images/contact1.jpg" style="width:100%; margin-top: 7%;">
                </div>
                <div class="column">
                    <label for="receiver">Email Destinatar</label>
                    <div class="form-group required">
                        <input class="form-control" formControlName="ReceiverEmail" type="text">
                    </div>
                    <label for="subject">Subiect</label>
                    <div class="form-group required">
                        <textarea formControlName="Content" id="subject" name="subject" placeholder="Scrie ceva.." style="height:200px"></textarea>
                    </div>
                    <button type="submit" class="hero-btn">Trimite</button>
                </div>
            </div>
        </div>
    </form>
</section>