<section class="header">
    <div class="text-box">
        <h1>Prosumator</h1>
        <p>
            Aceasta este pagina destinata prosumatorilor si 
            persoanelor care vor sa devina<br> viitori prosumatori.
            Aici ve-ti gasi informatiile necesare pentru a deveni un
            bun<br> prosumator, dar si o lista cu furnizorii dispusi sa colaboreze
            cu prosumatorii.
        </p>
    </div>
</section>

<section class="prosumator">
    <h1>Cum devin prosumator</h1>
    <p>Mai jos sunt informatii despre ce este un prosumator, cu ce se ocupa acesta<br>
       si cerintele pe care un prosumator trebuie sa le indeplineasca
    </p>
    <div class="prosumator-box">
        <img src="./assets/images/prosumator.jpg">
        <h1>Ce este un prosumator</h1>
        <p>
            Termenul de prosumator (prosumer) a fost prima data folosit de catre scriitorul american Alvin Toffler in 1981.
            <br><br>
            Cei mai multi dintre noi, consumam energie electrica din retea si o facem de peste un secol. De aceea ne numim 
            consumatori. Din cauza impactului asupra mediului inconjurator, o noua comunitate a inceput sa ia amploare si 
            anume cea a prosumatorilor. Lucrurile par sa se schimbe in ceea ce priveste mentalitatea despre cum ar trebui 
            sa fie optimizat consumul de energie electrica atat in resedinte, cladiri de birouri, etc.
            <br><br>
            In Ghidul Prosumatorului se defineste dupa cum urmeaza: 
            <br><br>
            “Conform legii nr. 220/2008, prosumatorul este clientul final care detine instalatii de producere a energiei electrice,
             inclusiv in cogenerare, cu o putere mai mica de 27kW, a carui activitate specifica nu este producerea energiei electrice
             si care consuma, stocheaza sau vinde energie electrica din surse regenerabile produsa in cladirea lui, inclusiv un bloc
             de apartamente, o zona rezidentiala, un amplasament de servicii partajat, comercial sau industrial sau in acelasi sistem 
             de distributie inchis.” 
             <br><br>
             Injectarea in retea este posibila datorita nivelului inalt la care a ajuns tehnologia in zilele noastre si dorintei de 
             a adauga noi surse de energie regenerabile in retea, cum ar fi energia solara, vantului, apei, etc.
             <br><br>
             De la 1 ianuarie 2019 si romanii pot produce si injecta energie electrica in retea. 
             <br><br>
            Principala sursa de energie regenerabila este chiar soarele. Prin sistemul de panouri fotovoltaice, putem transforma 
            energia solara, in energie electrica. 
            <br><br>
            Fiecare dintre noi, avem un consum mediu, iar sistemul de panouri ar trebui configurat in asa fel incat sa sustina 
            nevoile noastre. Energia electrica produsa in plus poate fi injectata in retea.
        </p>
        <h1>Ce trebuie sa facem pentru a deveni prosumatori</h1>
        <p>
            Inainte ca o persoana sa devina prosumator, aceasta va trebui sa parcurga urmatoarele etape din Ghidul Prosumatorului:
            <br><br><br>
            1. Certificatul de urbanism;
            <br><br>
            2. Avizul de amplasament;
            <br><br>
            3. Solutia de racordare;
            <br><br>
            4. Avizul tehnic de racordare;
            <br><br>
            5. Contract de racordare;
            <br><br>
            6. Contract de executie;
            <br><br>
            7. Anuntarea inceperii lucrarilor;
            <br><br>
            8. Anuntarea finalizarii lucrarilor;
            <br><br>
            9. Proces verbal de receptie la terminarea lucrarilor;
            <br><br>
            10. Punerea sub tensiune de proba;
            <br><br>
            11. Certificat de racordare;
            <br><br>
            12. Contract de vanzare-cumparare energie electrica.
            <br><br><br>
            <a href="https://www.engie.ro/doc/ghidul-prosumatorului.pdf" style="font-weight: bold; font-size: 20px;" target="_blank">Vezi Ghidul Prosumatorului</a>
        </p>
        <h1>Ce putem sa facem cu surplusul de energie</h1>
        <p>
            Exista doua posibilitati de a “scapa” de ea. 
            <br><br>
            Prima posibilitate este ca energia produsa suplimentar sa fie injectata in retea si vanduta operatorului de 
            distributie, dar doar celui cu care avem contractul de vanzare-cumparare.
            <br><br>
            Cea de a doua ar fi sa o stocam in acumulatori. Aceasta poate fi consumata pe timpul noptii de catre echipamentele 
            electrocasnice, fara sa fie nevoie sa mai luam energie din retea.
            <br><br>
            A doua posibilitate este valabila doar daca avem instalat un sistem de stocare de energie cu acumulatori.
        </p>
        <h1>Persoanele juridice pot deveni prosumatori</h1>
        <p>
            Desigur, cu conditia ca generarea si injectarea energiei electrice in retea sa nu devina principala lor 
            activitate comerciala.
            <br><br>
            Companiile care isi desfasoara activitatea pe timpul zilei in hale, depozite sau cladiri cu suprafete ale 
            acoperisului mari, isi pot reduce costurile privind energia electrica. 
        </p>
        <h1>Care sunt avantajele si dezavantajele in a deveni prosumator</h1>
        <p>
            **Avantajele de a deveni prosumator:
            <br><br>
            *Nu are un impact poluant asupra mediului inconjurator;
            <br><br>
            *Scaderea costurilor ale facturilor electrice;
            <br><br>
            *Creste valoarea de piata a imobilului;
            <br><br>
            *Posibilitatea de a injecta in retea si a vinde energia electrica suplimentara, etc.
            <br><br><br>
            **Dezavantajele de a deveni un prosumator:
            <br><br>
            *Investitia intr-un sistem de energie regenerabila este pe termen lung, asa ca daca va grabiti sa va amortizati 
            investitia imediat, o sa fiti putin dezamagiti;
            <br><br>
            *Durata de viata a sistemului cu panouri fotovoltaice variaza de la un producator la altul, intre 15-25 ani;
            <br><br>
            *Pe timpul iernii, productia este mai mica.
            <br><br><br>
            A fi prosumator, insa, nu se rezuma doar la generarea energiei electrice, ci si la generarea energiei termice. 
            Cea din urma se poate realiza tot cu un sistem de panouri, dar de data aceasta panouri termice.
            <br><br>
            Pentru a acoperi in mare parte si incalzirea din casa, putem apela mai nou, la pompele de caldura, 
            care pot produce caldura din energie electrica, exceptand centralele electrice care consuma foarte mult, 
            in comparatie cu pompele de caldura.
            <br><br>
            „O noua civilizatie este pe cale de aparitie in vietile noastre si peste tot oamenii orbi incearca s-o opreasca. 
            Aceasta civilizatie noua aduce cu sine noi tipuri de familie, alte stiluri de munca, de iubire si de viata, 
            o noua economie, noi conflicte politice si dincolo de toate acestea o constiinta modificata” (Al treilea val, 
            Alvin Toffler).
            <br><br>
            Daca v-ati hotarat sa deveniti prosumator, trebuie sa fiti constienti de drumul ce va asteapta: informatii 
            despre ce este un sistem de panouri fotovoltaice, cum functioneaza el, cale dus-intors catre institutiile statului
            pentru documentele necesare avizarii, gasirea unei firme autorizate pentru implementarea acestui sistem.
            <br><br>
            Apelati doar la firme autorizate in acest sens!
        </p>
    </div>
</section>

<section class="green-energy" style="margin-top: 50px;">
    <h1>Ce este energia regenerabila</h1>
    <p>Mai jos sunt informatii despre ce este energia<br> regenerabila si cum se obtine acesta</p>
    <div class="green-box" style="margin-top: -40px;">
        <h1>Clasificare</h1>
        <p>Energii regenerabile (cunoscute și ca „energii verzi”) sunt considerate în practică, energiile ce provin din surse 
           care fie că se regenerează de la sine în scurt timp, fie sunt surse practic inepuizabile. Termenul de energie 
           regenerabilă se referă la forme de energie produse prin transferul energetic al energiei rezultate din procese 
           naturale regenerabile. Astfel, energia luminii solare, a vânturilor, a apelor curgătoare, a proceselor biologice și 
           a căldurii geotermale pot fi captate de către oameni utilizând diferite procedee. Sursele de energie ne-reînnoibile 
           includ energia nucleară precum și energia generată prin arderea combustibililor fosili, așa cum ar fi țițeiul, 
           cărbunele și gazele naturale. Aceste resurse sunt, în chip evident, limitate la existența zăcămintelor respective 
           și sunt considerate în general (a se vedea teoria academicianului român Ludovic Mrazec de formare anorganică a țițeiului 
           și a gazelor naturale) ne-regenerabile.<br><br>
           **Dintre sursele regenerabile de energie fac parte:
           <br><br>
            *Energia eoliană, uzual exprimat - energia vântului<br>
            *Energia solară<br>
            *Energia apei<br>
            *Energia geotermică, energie câștigată din căldura de adâncime a Pământului<br>
            *Energie de biomasă: biodiesel, bioetanol, biogaz<br><br>
            Toate aceste forme de energie sunt, în mod tehnic, valorificabile putând servi la generarea curentului electric, 
            producerea de apă caldă, etc. Actualmente ele sunt în mod inegal valorificate, dar există o tendință certă și 
            concretă care arată că se investește insistent în această, relativ nouă, ramură energetică.
        </p>
        <h1>Energie eoliană</h1>
        <img src="./assets/images/wids.jpg" height="500px">
        <p>
            Energia eoliană este generată prin transferul energiei vântului unei turbine eoliene. Vânturile se formează datorită 
            încălzirii neuniforme a suprafeței Pământului de către energia radiată de Soare care ajunge la suprafața planetei noastre. 
            Această încălzire variabilă a straturilor de aer produce zone de aer de densități diferite, fapt care creează diferite 
            mișcări ale aerului. Energia cinetică a vântului poate fi folosită la antrenarea elicelor turbinelor, care sunt capabile 
            de a genera electricitate. Unele turbine eoliene sunt capabile de a produce până la 5 MW de energie electrică, deși acestea 
            necesită o viteză constantă a vântului de aproximativ 5,5 m/s, sau 20 kilometri pe oră. În puține zone ale Pământului există 
            vânturi având viteze constante de această valoare, deși vânturi mai puternice se pot găsi la altitudine mai mare și în zonele 
            oceanice.
        </p>
        <h1>Energie solară</h1>
        <img src="./assets/images/solar-panels.jpg" height="500px">
        <p>
            Conceptul de "energie solară" se referă la energia care este direct produsă prin transferul energiei luminoase radiată 
            de Soare. Aceasta poate fi folosită ca să genereze energie electrică sau să încălzească aerul din interiorul unor clădiri. 
            Deși energia solară este reînnoibilă și ușor de produs, problema principală este că soarele nu oferă energie constantă 
            în nici un loc de pe Pământ. În plus, datorită rotației Pământului în jurul axei sale, și deci a alternanței zi-noapte, 
            lumina solară nu poate fi folosită la generarea electricității decât pentru un timp limitat în fiecare zi. O altă limitare 
            a folosirii acestui tip de energie o reprezintă existența zilelor noroase, când potențialul de captare al energiei solare 
            scade sensibil datorită ecranării Soarelui, limitând aplicațiile acestei forme de energie reînnoibilă.
            <br><br>
            Nu există nici un dezavantaj deoarece instalațiile solare aduc beneficii din toate punctele de vedere.
            <br><br>
            Panourile solare produc energie electrică 9h/zi (calculul se face pe minim; iarna ziua are 9 ore) Ziua timp de 9 ore aceste 
            panouri solare produc energie electrică și în același timp înmagazinează energie în baterii pentru a fi folosită noaptea.
            <br><br>
            Instalațiile solare sunt de 2 tipuri: termice și fotovoltaice. Cele fotovoltaice produc energie electrică gratis. Cele termice 
            ajută la economisirea gazului în proporție de 75% pe an. O casă care are la dispoziție ambele instalații solare (cu panouri 
            fotovoltaice și termice în vid) este considerată "FARA FACTURI" deoarece energia acumulată ziua în baterii este trimisă în rețea).
            <br><br>
            Instalațiile solare funcționează chiar și atunci când cerul este înnorat. De asemenea sunt rezistente la grindină (în cazul 
            celor mai bune panouri).
        </p>
        <h1>Energia regenerabilă în lume</h1>
        <p>
            Investițiile globale anuale în energia regenerabilă au crescut în ultimii ani de la 39 de miliarde de dolari în 2005 la 
            55 de miliarde de dolari în 2006. Pentru anul 2007 investițiile au atins un nivel de 100 miliarde dolari.
            <br><br>
            În anul 2010, tehnologiile verzi au atras 243 miliarde de dolari în finanțări și investiții.
            <br><br>
            Directiva europeană din anul 2005, cunoscută sub sintagma „20/20/20” stabilește că până în 2020, UE trebuie să-și 
            reducă cu 20% emisiile de noxe și să producă 20% din totalul energiei din surse regenerabile.
            <br><br>
            De asemenea statele Uniunii Europene trebuie să amestece treptat combustibilul tradițional utilizat în transport cu 
            biocombustibil, astfel încât, până în 2010, biodieselul să reprezinte 5,75% din motorina de pe piață, urmând 
            ca, în 2020, ponderea să crească la 20%.
        </p>
    </div>
</section>

<section class="provider" style="margin-top: 50px;">
    <h1>Lista de furnizori</h1>
    <p>Mai jos gasim lista furnizoriilor de energie electrica care<br> sunt dispusi sa colaboreze cu prosumatorii</p>

    <form [formGroup]="prosumatorService.prosumatorModel" autocomplete="off" (submit)="onSubmit()"> 
        <div class="container" style="margin-left: 4%;">
            <div class="row">
            <div class="column">
                <img src="./assets/images/energie-electrica-3.jpg" style="width:100%; margin-top: 7%;">
            </div>
            <div class="column">
                <label for="receiver">Email Furnizor</label>
                <div class="form-group required">
                    <input class="form-control" formControlName="ReceiverEmail" type="text">
                </div>
                <label for="subject">Subiect</label>
                <div class="form-group required">
                    <textarea formControlName="Content" id="subject" name="subject" placeholder="Scrie ceva.." style="height:200px"></textarea>
                </div>
                <button type="submit" class="send-btn">Trimite</button>
            </div>
            </div>
        </div>
    </form> 

    <table class="provider-table" style="margin-top: 50px; margin-bottom: 100px; margin-left: 80px;">
        <tr>
          <th>Denumire Furnizor</th>
          <th>Email</th>
          <th>Judet</th> 
          <th>Oras</th>
          <th>Adresa</th>
          <th>Site Prezentare</th>
        </tr>
        <tr>
            <td>CEZ Vanzare S.A.</td>
            <td>info.cez@gmail.com</td>
            <td>Ilfov</td>
            <td>Bucuresti</td>
            <td>Str.Cernei, Nr.13</td>
            <td><a href="https://www.cez.ro" target="_blank" style="color: rgb(14, 74, 185); font-weight: bold;">www.cez.ro</a></td>
        </tr>
        <tr>
            <td>ENEL Energie S.A.</td>
            <td>info.enel@gmail.com</td>
            <td>Ilfov</td>
            <td>Bucuresti</td>
            <td>Str.Victoriei, Nr.22</td>
            <td><a href="https://www.enel.ro/enel-energie/ro.html" target="_blank" style="color: rgb(14, 74, 185); font-weight: bold;">www.enel.ro</a></td>
        </tr>
        <tr>
            <td>E.ON Energie Romania S.A.</td>
            <td>info.eon@gmail.com</td>
            <td>Ilfov</td>
            <td>Bucuresti</td>
            <td>Str.Independetei, Nr.32</td>
            <td><a href="https://www.eon.ro/" target="_blank" style="color: rgb(14, 74, 185); font-weight: bold;">www.eon.ro</a></td>
        </tr>
    </table>
</section>
