/* You can add global styles to this file, and also import other style files */


body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),
    url('src/assets/images/background-body2.jpg');
    width: 100%;
    background-repeat: repeat;
}