
<form [formGroup]="service.formModel" class="register-form" autocomplete="off" (submit)="onSubmit()">
    <div class="form-group required">
        <label style="margin-top: 5%;">Nume utilizator</label>
        <input class="form-control" formControlName="UserName">
        <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">Acest camp este obligatoriu.</label>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input class="form-control" formControlName="Email">
        <label style="font-size: 15px; padding: 3px; background-color:rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Adresa de email invalida.</label>
    </div>
    <div class="form-group">
        <label>Nume complet</label>
        <input class="form-control" formControlName="FullName">
    </div>
    <div formGroupName="Passwords">
        <div class="form-group required">
            <label>Parola</label>
            <input type="password" class="form-control" formControlName="Password">
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">Acest camp este obligatoriu.</label>
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Parola contine minim 4 caractere.</label>
        </div>
        <div class="form-group required">
            <label>Confirmare parola</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label style="font-size: 15px; padding: 3px; background-color: rgb(202, 193, 193); margin-top: 10px; border-radius: 5px;" class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirmarea parolei nu corespunde.</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg hero-btn" [disabled]="!service.formModel.valid">Inregistrare</button>
        </div>
    </div>
</form>