<section class="header">
    <div class="text-box">
        <h1>Stiri despre domeniul energetic</h1>
        <p>Aceasta este pagina dedicata stirilor cu cele mai noi si
            <br> interesante noutati din domeniul energetic.</p>
    </div>
</section>

<section class="media-list">
    <h1>Lista cu stiri</h1>
    <p>Mai jos avem lista cu stirile disponibile<br> pe care le puteti vizualiza</p>
    <div class="wrap">

        <a class="card" href="https://energy-center.ro/actualitate-news/o-noua-aga-la-transelectrica-pentru-aprobarea-situatie-financiare-si-distribuirea-dividendelor/" target="_blank">
            <img src="./assets/images/media1.jpg">
            <div class="container">
                <h4><b>O noua AGA la Transelectrica, pentru aprobarea situatie financiare si distribuirea dividendelor</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/trei-termocentrale-au-cumparat-7-milioane-de-certificate-de-co2-prin-intermediul-brm/" target="_blank">
            <img src="./assets/images/media2.jpg">
            <div class="container">
                <h4><b>Trei termocentrale au cumparat 7 milioane de certificate de CO2 prin intermediul BRM</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/actualitate-news/s-a-descoperit-o-tehnica-pentru-a-recicla-palele-turbinelor-eoliene/" target="_blank">
            <img src="./assets/images/media3.jpg">
            <div class="container">
                <h4><b>S-a descoperit o tehnica pentru a recicla palele turbinelor eoliene</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/transelectrica-investeste-42-de-milioane-de-euro-in-retehnologizarea-a-doua-statii-esentiale-pentru-inchiderea-inelului-de-400-kv-in-zona-de-vest/" target="_blank">
            <img src="./assets/images/media4.jpg">
            <div class="container">
                <h4><b>Transelectrica investeste 42 de milioane de euro in retehnologizarea a doua statii esentiale pentru inchiderea Inelului de 400 kV in zona de vest</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/linia-electrica-cernavoda-stalpu-se-construieste-cu-materiale-de-fabricatie-romaneasca/" target="_blank">
            <img src="./assets/images/media5.jpg">
            <div class="container">
                <h4><b>Linia electrica Cernavoda-Stalpu se construieste cu materiale de fabricatie romaneasca</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/drept-la-replica-conducerea-ce-oltenia-nu-a-incasat-premii-pentru-eleborarea-planului-de-restructurare/" target="_blank">
            <img src="./assets/images/media6.jpg">
            <div class="container">
                <h4><b>Drept la replica: conducerea CE Oltenia nu a incasat premii pentru eleborarea planului de restructurare</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/actualitate-news/enel-aduce-homix-in-romania-un-sistem-inteligent-de-economisire-a-energiei/" target="_blank">
            <img src="./assets/images/media7.jpg">
            <div class="container">
                <h4><b>Enel aduce Homix in Romania, un sistem inteligent de economisire a energiei</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/enel-isi-dezvolta-productia-de-energie-regenerabila-prin-achizitia-a-6-parcuri-eoliene/" target="_blank">
            <img src="./assets/images/media8.jpg">
            <div class="container">
                <h4><b>Enel isi dezvolta productia de energie regenerabila prin achizitia a 6 parcuri eoliene</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/autoritatea-de-reglementare-in-energie-promite-o-baza-de-date-pentru-simplificarea-schimbarii-furnizorului/" target="_blank">
            <img src="./assets/images/media9.jpg">
            <div class="container">
                <h4><b>Autoritatea de reglementare in energie promite o baza de date pentru simplificarea schimbarii furnizorului</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/operatorii-retelelor-de-transport-si-distributie-energie-au-atins-99-din-investitiile-asumate-in-2020/" target="_blank">
            <img src="./assets/images/media10.jpg">
            <div class="container">
                <h4><b>Operatorii retelelor de transport si distributie energie au atins 99% din investitiile asumate in 2020</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/piata-energiei-din-romania/productia-de-energie-regenerabila-din-offshore-si-infrastrutura-de-transport-au-fost-uitate-in-planul-de-redresare-si-rezilienta/" target="_blank">
            <img src="./assets/images/media11.jpg">
            <div class="container">
                <h4><b>Productia de energie regenerabila din offshore si infrastrutura de transport au fost uitate in Planul de redresare si rezilienta</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>

        <a class="card" href="https://energy-center.ro/actualitate-news/enel-accelereaza-procesul-de-instalare-de-contoare-inteligente-pana-la-sfarsitul-anului-va-depasi-nr-de-un-milion/" target="_blank" style="margin-bottom: 100px;">
            <img src="./assets/images/media12.jpg">
            <div class="container">
                <h4><b>Enel accelereaza procesul de instalare de contoare inteligente. Pana la sfarsitul anului va depasi nr de un milion</b></h4>
                <p> How Green Media </p>
                <p> Romania </p>
            </div>
        </a>
    </div>
</section>